@page "/admin"

@using DiscountMarketplace.Services

@inject AuthService Auth
@inject NavigationManager Nav

<h3>Адмін-панель</h3>

@code {

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (!Auth.IsAdmin)
            {
                Nav.NavigateTo("/login");
            }
            else
            {
                StateHasChanged();
            }
        }
    }
}